.main-content {
<<<<<<< HEAD
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
=======
  min-height: calc(100vh - 64px);
  padding-top: 20px;
  padding-bottom: 40px;
}
>>>>>>> 138c42e (Uwaaa)
