<header class="header">
  <div class="logo">
    <h1>Gestor Hospitalario</h1>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">Panel Principal</a></li>
      <li><a routerLink="/staff" routerLinkActive="active">Personal</a></li>
      <li><a routerLink="/patients" routerLinkActive="active">Pacientes</a></li>
      <li><a routerLink="/medicines" routerLinkActive="active">Medicinas</a></li>
      <li><a routerLink="/treatments" routerLinkActive="active">Tratamientos</a></li>
    </ul>
  </nav>
</header>
